body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/*----Header----*/
.header {
  background-color: rgb(62, 62, 190);
  padding: 30px;
  color: white;
  text-align: center;
}
h2 {
  font-size: 60px;
}

/*--Input Style---*/

input {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  border: none;
  width: 55%;
}

/* Style the "Add" button */

.addBtn {
  padding: 10px;
  margin: 0;
  font-size: 20px;
  width: 75px;
  cursor: pointer;
  text-align: center;
}

.addBtn:hover {
  background-color: rgb(24, 155, 111);
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(111, 191, 223);
  font-size: 18px;
  transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: rgb(231, 148, 164);
}

/* Darker background-color on hover */
ul li:hover {
  background: rgb(187, 207, 176);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(173, 168, 168);
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: rgb(242, 247, 243);
  border-style: solid;
  top: 10px;
  left: 16px;
  height: 15px;
  width: 5px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

/* Style the close button-- You wont see it until code in Javascript */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: red;
  color: white;
}
